body{
 background-image: url(../child.webp);
 background-repeat:no-repeat;
 background-attachment: scroll;
 background-position: center;
 background-color: rgba(135, 190, 147, 0.263);
}


p{
    border: 2px solid red;
    border-radius: 1000px;
   

}

h1{
    border: 2px solid red;
    border-radius: 1000px;
    padding: 20px;
    margin: 30px;
    height: 50px;
    text-align: center;
    width: 400px;
    text-align: right;
    text-decoration: overline underline;
    
}
h1 span{
    vertical-align: super;
}

a{
    text-decoration: none  ;
}
